$light-primary-text: #2b2b2b;
$light-primary-background: #FEFEFE;
$light-secondary-text: #333333;
$light-secondary-background: #fafafa;

$color-main-identity: #aac55b;
$color-light-accent: #878a91;
$color-light-shades: #f0f1e9;
$color-dark-accent: #8a5235;
$color-dark-shades: #3c454c;

$transparent-shadow: #8a513525;


$themes: (
  light: (color-background: #FEFEFE,
    color-text: #2b2b2b,
    color-card: #292929,
  ),
  dark: (color-background: #3b3f45,
    color-text: #FEFEFE,
    color-card: #eeeeee,
  ))