@import './_mixins';
@import './_variables';

// * {
//   background-color: map-get(map-get($themes, light), color-background);
//   color: map-get(map-get($themes, light), color-text) !important;
// }

h2 {
  font-weight: 500;
}


.modal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: .5rem;
  background-color: $light-primary-background;
  box-shadow: 1rem 1rem 1rem $transparent-shadow;
  padding: 2rem;
  overflow-y: scroll;

  .main-info {

    .subtitle {
      font-style: italic;
      color: $light-secondary-text;
    }

    .author {
      color: $light-secondary-text;
      margin-bottom: 1rem;
    }

    .description {
      font-style: italic;
    }
  }

  .divider {
    margin: 2rem 0;
  }

  .delete-btn {
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: red;
    /* text-transform: none; */
    float: right;
  }

  .lower-info {
    display: flex;
    justify-content: space-between;

    .supplementary-info {}

    .controls {}
  }
}



// .modal {
//   display: block;
//   z-index: 10002;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow-y: auto;
//   overflow-x: hidden;
//   overscroll-behavior: none;

//   .modal-container {
//     background: rgba(17, 21, 24, 0.45);
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     display: table;
//     z-index: 2;
//   }
// }