@import './_mixins';
@import './_variables';

// * {
//   background-color: map-get(map-get($themes, light), color-background);
//   color: map-get(map-get($themes, light), color-text) !important;
// }

h2 {
  font-weight: 500;
}


.modal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: .5rem;
  background-color: $color-light-shades;
  border: 0;
  padding: 2rem;
  // overflow-y: scroll;

  .main-info {

    .subtitle {
      font-style: italic;
      color: $light-secondary-text;
    }

    .author {
      color: $light-secondary-text;
      margin-bottom: 1rem;
    }

    .description {
      font-style: italic;
      width: 100%;
      // text-indent: 1rem;
      // text-align: start;
    }
  }

  .divider {
    margin: 2rem 0;
  }

  .delete-btn {
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: $color-dark-accent;
    /* text-transform: none; */
    float: right;
  }

  .delete-btn:hover {
    filter: brightness(1.2);
  }

  .lower-info {
    display: flex;
    justify-content: space-between;

    .supplementary-info {}

    .controls {}
  }
}