@import './color-palette';
@import './_animations.scss';

.shelf-container {
  height: 180px;

  .shelf {
    height: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    // border: 10px solid $color-main-identity;
    border-radius: .5rem;
    background-color: $light-secondary-background;
    // box-shadow: .3rem .3rem .3rem $transparent-shadow;
    box-shadow: 0px 3px 3px -2px $transparent-shadow,
      0px 3px 4px 0px $transparent-shadow,
      0px 1px 8px 0px $transparent-shadow;
    ;

    .shelf-tile {
      height: 100%;
      scroll-snap-align: start;
      flex-shrink: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      .modal-container {
        margin-left: 1.5rem;
      }


      .book-thumbnail {
        width: auto;
        transform-style: preserve-3d;
        transition: 1s ease;

        img {
          height: 100px;
          top: 0;
          left: 0;
          position: relative;
          width: auto;
          border-radius: 0 3px 3px 0;
          box-shadow: 2px 2px 6px $color-dark-shades;
          // box-shadow: 0px 3px 3px -2px $transparent-shadow,
          //   0px 3px 4px 0px $transparent-shadow,
          //   0px 1px 8px 0px $transparent-shadow;
          // ;
        }
      }

      .book-thumbnail:hover {
        transform: rotateY(0deg);
        transform: scale3d(1.08, 1.08, 1.08);
      }
    }
  }
}